@font-face {
  font-family: "iconfont"; /* Project id 3610263 */
  src: url('../fonts/iconfont.woff2?t=1661543172927') format('woff2'),
       url('../fonts/iconfont.woff?t=1661543172927') format('woff'),
       url('../fonts/iconfont.ttf?t=1661543172927') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-icon:before {
  content: "\e653";
}

.icon-wode:before {
  content: "\e70b";
}

.icon-icon-auth:before {
  content: "\e608";
}

.icon-lihe:before {
  content: "\e670";
}

.icon-chaju:before {
  content: "\e609";
}

.icon-fulizhongxin:before {
  content: "\e652";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-cha:before {
  content: "\e614";
}

